* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header3 {
  background-color: #033949;
  color: white;
  border-bottom: 2px solid #a4ff4a;
}

.box-row3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 5px 20px;
  align-items: center;
  justify-content: space-between;
}

.box-flex3 {
  display: flex;
  align-items: center;
}

.logo3 {
  height: 85px;
  width: auto;
}

.h1-header3 {
  padding: 0;
  margin: 0 15px;
  text-align: center;
  font-size: 1.3em;
}

.nav3 {
  display: flex;
  flex-direction: row;
}

#menu {
  display: none;
}

.icon-menu {
  display: none;
}

.nav3 .link3 {
  padding: 5px;
  color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: 1s;
  border-radius: 15px 15px 15px 15px;
}

.nav3 .link3:hover {
  background-color: #a4ff4a;
  color: black;
  border-radius: 15px 15px 15px 15px;
  transition-property: background-color, color;
  transition-timing-function: ease-in;
  transition-duration: 1s;
}

.banner-box3 {
  width: 100%;
  height: 10%;
  max-height: 400px;
  overflow: hidden;
}

.banner-img3 {
  width: 100%;
  height: auto;
}

.contenedor3 {
  border-top: #a4ff4a 2px solid;
  background-color: #a4ff4a;
  height: 100%;
  width: 100%;
}

.contenedor3 .h2-3 {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #033949;
  color: white;
}

.contenedor3 .box-info3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0;
}

.contenedor3 .box-info3 .info3 .info-p3 {
  margin-left: 20px;
}

.about-cont3 {
  padding: 30px;
}

.rules-contenedor {
  text-align: center;
}

.p-rules {
  text-align: left;
  margin-left: 25px;
}

.m-top {
  margin-top: 25px;
}

.p-top {
  margin-top: 20px;
}

.list-rules {
  text-align: left;
  max-width: 90%;
  padding: 0 0 0 30px;
}

.li-list1 {
  margin: 0px 0px 25px 25px;
}

.bl-list2 {
  margin-left: 25px;
}

.contenedor-info {
  padding: 30px;
}

.p-style1 {
  text-decoration: underline;
}

.tabla1 {
  text-align: center;
  width: 600px;
  margin: 25px;
}

.type-square {
  list-style-type: square;
}

.type-1 {
  list-style-type: decimal;
}

.type-a {
  list-style-type: lower-alpha;
}

.tr-cabezal {
  text-decoration: underline;
}

.tabla3 {
  text-align: left;
  width: 600px;
  margin: 25px;
}

.tabla4 {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 30px;
}

.contenedor-tablas {
  margin-left: 25px;
}

.tabla5 {
  width: 600px;
}

.tr-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-info {
  width: 600px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.p-mbt {
  margin-top: 10px;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid black;
}

footer {
  height: 50px;
}

.p-bl {
  margin-bottom: 20px;
}

.box-info {
  margin: 0 auto;
  width: 90%;
}

.flex-gameinfo {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.maps-none1, .maps-none2, .maps-none3, .maps-none4, .maps-none5, .maps-none6 {
  display: none;
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.iframe-img {
  margin-top: 50px;
}

.td-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-minus {
  color: white;
}
.info-registration{
  margin: 20px auto;
}
.form-registration{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.box-registration{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.box-sign{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box-submit{
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width:768px) {
  .box-row3 {
    flex-direction: column;
    position: relative;
  }

  .icon-menu {
    display: initial;
    font-size: 1.6em;
    position: absolute;
    right: 10px;
    top: 35px;
  }

  .nav3 {
    display: none;
    flex-direction: column;
  }

  .contenedor3 .box-info3 {
    flex-direction: column;
    width: 90%;
    margin: 15px auto;
  }

  .tabla1, .tabla3 {
    text-align: center;
    width: 100%;
    margin: 15px 0;
  }

  .div-info {
    width: 100%;
  }

  .contenedor-info {
    padding: 10px;
  }
}
